.Quiz{
    display:flex;
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 60px 20px;
    flex-grow: 1;
    background:linear-gradient(90deg, #5041b2 0%, #7969e6 100% );
}

.QuizWrapper{
    border-radius: 5px;border:1px solid #fff;
    padding:15px;
}