.Input, .TextArea {
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: .15rem;
    padding: .4rem;
    margin: 0 10px;
}

.TextArea {
    width: 60%;
    min-height: 80px;
    vertical-align: top;
}

.TextCharacters {
    color: #949494;
    padding-left: 9%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
}

.TextError {
    color: #FF5B57;
    margin-top: -5px;
}

label {
    display: inline-block;
}

/* [type="radio"] {
    vertical-align: top;
} */

.RightAnsw{
    vertical-align: top;
    cursor: pointer;
}